<div class="center jumbotron">
  <h1><%= t("layouts.login") %></h1>
  <h2>
  <%= t("layouts.tridu") %>
  </h2>
  <%= link_to t("layouts.login"), new_user_session_path, class: "btn btn-lg btn-primary" %>
  Or
  <%= link_to t("layouts.signup"), new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
