<h4><%= t "user.result" %><h4>
<% @users.each do |user| %>
  <%= link_to user.email, user %> |
  <td><%= link_to t("user.delete"), admin_user_path(user), method: :delete,
    data: {confirm: t("user.confirm")} %></td>
  <br>
<% end %>
<%= will_paginate %>
