<div id="users-list">
  <div id="user-box">
    <% if user.is_normal? %>
      <p><%= link_to user.email, admin_user_path(user) %></p>
      <%= link_to t("user.show"), admin_user_path(user) %> |
      <%= link_to t("user.edit"), admin_user_path(user) %> |
      <%= link_to t("user.delete"), [:admin, user],
        confirm: t("user.confirm"), method: :delete %>
    <% end %>
  </div>
</div>